<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.common.dao.UserDao">
    <select id="getUserInfo" resultType="com.example.common.entity.User" parameterType="String">
        select * from users where account=#{account}
    </select>

    <update id="updateUserInfo">
        update users set username=#{username},sex=#{sex},age=#{age} where account=#{account}
    </update>

    <select id="getByCelebrityType" resultType="com.example.common.entity.User">
        select * from users where good_type = #{type} and role = 0 limit #{start}, 6;
    </select>

    <update id="setIsLike">
        update users set is_like=1 where account=#{account}
    </update>
</mapper>